@import './main.scss';

.pdf-viewer {
	display: flex;
	justify-content: center;
	height: calc(100vh - 174px);
	max-width: 100vw;
}

.pdf-canvas {
	overflow: scroll;
	max-height: calc(100vh - 174px);
	max-width: 100vw;
}
  